@page
@model SGID.Pages.Relatorios.RH.FaturamentoDentalModel
@{
    ViewData["Title"] = "Relatorio Faturamento Dental";
    Layout = "_LayoutGeral";
}

@using(@Html.BeginForm(FormMethod.Post)){
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataInicio" name="DataInicio" value="@Model.Inicio.ToString("yyyy-MM-dd")" placeholder="Data Inicio">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataFim" name="DataFim" value="@Model.Fim.ToString("yyyy-MM-dd")" placeholder="Data Fim">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <select type="text" class="form-control" id="vende" name="vende" placeholder="Vendedor">
                <option value="">TODOS....</option>
                @foreach (var data in Model.Vendedores)
                {
                    <option value="@data">@data</option>
                }
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}


<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="12" class="text-center">
                        Faturamento Dental
                    </th>
                </tr>
                <tr>
                    <th class="text-center">
                        Emissao NF
                    </th>
                    <th class="text-center">
                        Filial
                    </th>
                    <th class="text-center">
                        Num. NF
                    </th>
                    <th class="text-center">
                        Num. Pedido
                    </th> 
                    <th class="text-center">
                        Vendedor
                    </th>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Tipo de Operação
                    </th>
                    <th class="text-center">
                        Produto
                    </th>
                    <th class="text-center">
                        Desc. Produto
                    </th>
                    <th class="text-center">
                        QTD Faturada
                    </th>
                    <th class="text-center">
                        Total NF
                    </th>
                    <th class="text-center">
                        Comissão
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Relatorio)
                {
                    <tr>
                    <td>@Html.DisplayFor(model=> data.D2_EMISSAO)</td>
                    <td>@Html.DisplayFor(model=> data.D2_FILIAL)</td>
                    <td>@Html.DisplayFor(model=> data.D2_DOC)</td>
                    <td>@Html.DisplayFor(model=> data.D2_PEDIDO)</td>
                    <td>@Html.DisplayFor(model=> data.A3_NOME)</td>
                    <td>@Html.DisplayFor(model=> data.A1_NOME)</td>
                    <td>@Html.DisplayFor(model=> data.C5_UTPOPER)</td>
                    <td>@Html.DisplayFor(model=> data.C6_PRODUTO)</td>
                    <td>@Html.DisplayFor(model=> data.B1_DESC)</td>
                    <td>@string.Format("{0:N2}", data.D2_QUANT)</td>
                    <td>@string.Format("{0:N2}", data.D2_TOTAL)</td>
                    <td>@string.Format("{0:N2}", data.Comissao)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th colspan="10" class="text-center">
                        Devolução Dental
                    </th>
                </tr>
                <tr>
                    <th class="text-center">
                        Emissão
                    </th>
                    <th class="text-center">
                        Filial
                    </th>
                    <th class="text-center">
                        Num. NF
                    </th>
                    <th class="text-center">
                        Emissão Orig
                    </th>
                    <th class="text-center">
                        NF. Orig.
                    </th>
                    <th class="text-center">
                        Cod Vend.
                    </th>
                    <th class="text-center">
                        Vendedor
                    </th>
                    <th class="text-center">
                        Cliente
                    </th>
                    <th class="text-center">
                        Total
                    </th>
                    <th class="text-center">
                        Comissão
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Devolucao)
                {
                    <tr>
                        <td>@Html.DisplayFor(model=> data.Emissao)</td>
                        <td>@Html.DisplayFor(model=> data.Filial)</td>
                        <td>@Html.DisplayFor(model=> data.NumNF)</td>
                        <td>@Html.DisplayFor(model=> data.EmissaoOrig)</td>
                        <td>@Html.DisplayFor(model=> data.NFOrig)</td>
                        <td>@Html.DisplayFor(model=> data.CodVend)</td>
                        <td>@Html.DisplayFor(model=> data.Vendedor)</td>
                        <td>@Html.DisplayFor(model=> data.Cliente)</td>
                        <td>@string.Format("{0:N2}", data.Total)</td>
                        <td>@string.Format("{0:N2}", data.Comissao)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
