@page
@model SGID.Pages.Relatorios.RH.FaturamentoLicitacoesInterModel
@{
    ViewData["Title"] = "Relatorio Cirurgias Faturadas Inter";
    Layout = "_LayoutGeral";
}




@using (@Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataInicio" name="DataInicio" value="@Model.Inicio.ToString("yyyy-MM-dd")" placeholder="Data Inicio">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataFim" name="DataFim" value="@Model.Fim.ToString("yyyy-MM-dd")" placeholder="Data Fim">
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}



<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Filial
                    </th>
                    <th class="text-center">
                        Pedido
                    </th>
                    <th class="text-center">
                        Agendamento
                    </th>
                    <th class="text-center">
                        Data Cirurgia
                    </th>
                    <th class="text-center">
                        NF
                    </th>
                    <th class="text-center">
                        Serie
                    </th>
                    <th class="text-center">
                        Emissão NF
                    </th>
                    <th class="text-center">
                        Total
                    </th>
                    <th class="text-center">
                        Descon
                    </th>
                    <th class="text-center">
                        CliFor
                    </th>
                    <th class="text-center">
                        Loja
                    </th>
                    <th class="text-center">
                        Nome
                    </th>
                    <th class="text-center">
                        Vendedor
                    </th>
                    <th class="text-center">
                        Médico
                    </th>
                    <th class="text-center">
                        Paciente
                    </th>
                    <th class="text-center">
                        Convênio
                    </th>
                    <th class="text-center">
                        Produto
                    </th>
                    <th class="text-center">
                        Desc. Produto
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Relatorio)
                {
                    <tr>
                        <td>@Html.DisplayFor(model=> data.Filial)</td>
                        <td>@Html.DisplayFor(model=> data.Pedido)</td>
                        <td>@Html.DisplayFor(model=> data.Unumage)</td>
                        <td>@Html.DisplayFor(model=> data.XDtcir) </td>
                        <td>@Html.DisplayFor(model=> data.Nf)</td>
                        <td>@Html.DisplayFor(model=> data.Serie)</td>
                        <td>@Html.DisplayFor(model=> data.Emissao)</td>
                        <td>@string.Format("{0:N2}", data.Total)</td>
                        <td>@string.Format("{0:N2}", data.Descon)</td>
                        <td>@Html.DisplayFor(model=> data.Clifor)</td>
                        <td>@Html.DisplayFor(model=> data.Loja)</td>
                        <td>@Html.DisplayFor(model=> data.Nome)</td>
                        <td>@Html.DisplayFor(model=> data.A3Nome)</td>
                        <td>@Html.DisplayFor(model=> data.XNMMed)</td>
                        <td>@Html.DisplayFor(model=> data.XNMPac)</td>
                        <td>@Html.DisplayFor(model=> data.XNMPla)</td>
                        <td>@Html.DisplayFor(model=> data.D2Cod)</td>
                        <td>@Html.DisplayFor(model=> data.B1Desc)</td>
                    </tr>
                }
                <tr>
                    <td colspan="6"></td>
                    <td>TOTAL: </td>
                    <td>@string.Format("{0:N2}", Model.Relatorio.Sum(x=>x.Total))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

