@page
@model SGID.Pages.Relatorios.AdmVendas.CirurgiasFaturadasModel
@{
    ViewData["Title"] = "Relatorio Cirurgias Faturadas Denuo";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}




@using (@Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataInicio" name="DataInicio" value="@Model.Inicio.ToString("yyyy-MM-dd")" placeholder="Data Inicio">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataFim" name="DataFim" value="@Model.Fim.ToString("yyyy-MM-dd")" placeholder="Data Fim">
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}



<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Filial
                    </th>
                    <th class="text-center">
                        Pedido
                    </th>
                    <th class="text-center">
                        Agendamento
                    </th>
                    <th class="text-center">
                        Data Cirurgia
                    </th>
                    <th class="text-center">
                        NF
                    </th>
                    <th class="text-center">
                        Serie
                    </th>
                    <th class="text-center">
                        Emissão NF
                    </th>
                    <th class="text-center">
                        Total
                    </th>
                    <th class="text-center">
                        Descon
                    </th>
                    <th class="text-center">
                        CliFor
                    </th>
                    <th class="text-center">
                        Loja
                    </th>
                    <th class="text-center">
                        Nome
                    </th>
                    <th class="text-center">
                        Vendedor
                    </th>
                    <th class="text-center">
                        Médico
                    </th>
                    <th class="text-center">
                        Paciente
                    </th>
                    <th class="text-center">
                        Convênio
                    </th>
                    <th class="text-center">
                        Especialidade
                    </th>
                    <th class="text-center">
                        Fornecedor
                    </th>
                    <th class="text-center">
                        Tipo Cliente
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Relatorio)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => data.Filial)</td>
                        <td>@Html.DisplayFor(model => data.Pedido)</td>
                        <td>@Html.DisplayFor(model => data.Unumage)</td>
                        <td>@Html.DisplayFor(model => data.XDtcir) </td>
                        <td>@Html.DisplayFor(model => data.Nf)</td>
                        <td>@Html.DisplayFor(model => data.Serie)</td>
                        <td>@Html.DisplayFor(model => data.Emissao)</td>
                        <td>@string.Format("{0:N2}", data.Total)</td>
                        <td>@string.Format("{0:N2}", data.Descon)</td>
                        <td>@Html.DisplayFor(model => data.Clifor)</td>
                        <td>@Html.DisplayFor(model => data.Loja)</td>
                        <td>@Html.DisplayFor(model => data.Nome)</td>
                        <td>@Html.DisplayFor(model => data.A3Nome)</td>
                        <td>@Html.DisplayFor(model => data.XNMMed)</td>
                        <td>@Html.DisplayFor(model => data.XNMPac)</td>
                        <td>@Html.DisplayFor(model => data.XNMPla)</td>
                        <td>@Html.DisplayFor(model => data.Linha)</td>
                        <td>@Html.DisplayFor(model => data.Fornecedor)</td>
                        <td>
                            @if (data.TipoCirur == "K")
                            {
                                <span>REVELIA</span>
                            }
                            else
                            {
                                <span>NORMAL</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model=> data.Tipo)
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6"></td>
                    <td>TOTAL: </td>
                    <td>@string.Format("{0:N2}", Model.Relatorio.Sum(x => x.Total))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        FILIAL
                    </th>
                    <th class="text-center">
                        CLIFOR
                    </th>
                    <th class="text-center">
                        LOJA
                    </th>
                    <th class="text-center">
                        NOME
                    </th>
                    <th class="text-center">
                        TIPO
                    </th>
                    <th class="text-center">
                        NF
                    </th>
                    <th class="text-center">
                        SERIE
                    </th>
                    <th class="text-center">
                        DIGITACAO
                    </th>
                    <th class="text-center">
                        TOTAL
                    </th>
                    <th class="text-center">
                        VALIPI
                    </th>
                    <th class="text-center">
                        VALICM
                    </th>
                    <th class="text-center">
                        DESCON
                    </th>
                    <th class="text-center">
                        TOTALBRUT
                    </th>
                    <th class="text-center">
                        A3_NOME
                    </th>
                    <th class="text-center">
                        D1_NFORI
                    </th>
                    <th class="text-center">
                        D1_SERIORI
                    </th>
                    <th class="text-center">
                        D1_DATORI
                    </th>
                    <th class="text-center">
                        Especialidade
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Relatorio2)
                {
                    <tr>
                        <td>@Html.DisplayFor(model=> data.Filial)</td>
                        <td>@Html.DisplayFor(model=> data.Clifor)</td>
                        <td>@Html.DisplayFor(model=> data.Loja)</td>
                        <td>@Html.DisplayFor(model=> data.Nome)</td>
                        <td>@Html.DisplayFor(model=> data.Tipo)</td>
                        <td>@Html.DisplayFor(model=> data.Nf)</td>
                        <td>@Html.DisplayFor(model=> data.Serie)</td>
                        <td>@Html.DisplayFor(model=> data.Digitacao)</td>
                        <td>@string.Format("{0:N2}", data.Total)</td>
                        <td>@string.Format("{0:N2}", data.Valipi)</td>
                        <td>@string.Format("{0:N2}", data.Valicm)</td>
                        <td>@string.Format("{0:N2}", data.Descon)</td>
                        <td>@string.Format("{0:N2}", data.TotalBrut)</td>
                        <td>@Html.DisplayFor(model=> data.A3Nome)</td>
                        <td>@Html.DisplayFor(model=> data.D1Nfori)</td>
                        <td>@Html.DisplayFor(model=> data.D1Seriori)</td>
                        <td>@Html.DisplayFor(model=> data.D1Datori)</td>
                        <td>@Html.DisplayFor(model=> data.Linha)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>