@page
@model SGID.Pages.Relatorios.Qualidade.ValidadePermanenteInterModel
@{
    ViewData["Title"] = "Relatorio Validade Permanente Inter";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

@using(@Html.BeginForm(FormMethod.Post)){
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataInicio" name="DataInicio" value="@Model.Inicio.ToString("yyyy-MM-dd")" placeholder="Data Inicio">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataFim" name="DataFim" value="@Model.Fim.ToString("yyyy-MM-dd")" placeholder="Data Fim">
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
           <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}


<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        Filial
                    </th>
                    <th class="text-center">
                        Pedido
                    </th>
                    <th class="text-center">
                        NF
                    </th>
                    <th class="text-center">
                        Emissão NF
                    </th>
                    <th class="text-center">
                        Operações
                    </th>
                    <th class="text-center">
                        Agendamento
                    </th>
                    <th class="text-center">
                        Patrimonio
                    </th>
                    <th class="text-center">
                        Produto
                    </th>
                    <th class="text-center">
                        Lote
                    </th>
                    <th class="text-center">
                        QTD
                    </th>
                    <th class="text-center">
                        Validade
                    </th>
                    <th class="text-center">
                        Cliente
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in Model.Relatorios)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => data.Filial)</td>
                        <td>@Html.DisplayFor(model => data.Pedido)</td>
                        <td>@Html.DisplayFor(model => data.NF)</td>
                        <td>@Html.DisplayFor(model => data.EmissaoNF)</td>
                        <td>@Html.DisplayFor(model => data.Operacoes)</td>
                        <td>@Html.DisplayFor(model => data.Agendamento)</td>
                        <td>@Html.DisplayFor(model => data.Patrimonio)</td>
                        <td>@Html.DisplayFor(model => data.Produto)</td>
                        <td>@Html.DisplayFor(model => data.Lote)</td>
                        <td>@Html.DisplayFor(model => data.QTD)</td>
                        @if (data.Validade != null)
                        {
                            <td>@data.Validade</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Html.DisplayFor(model => data.Cliente)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


