@page "{Id}"
@model SGID.Pages.Cirurgias.VisualizarRecursoModel
@{
    ViewData["Title"] = "Visualizar Recurso";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutGeral";
    }
}

<div class="row">
    <h2 style="padding-left:20px;">Novo Recurso</h2>
</div>


<div class="card" style="padding:10px;">
    @using(@Html.BeginForm(FormMethod.Post,new { enctype = "multipart/form-data" })){
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Codigo</label>
                        <input type="text" class="form-control" id="Codigo" value="@Model.Instrumentador.PahCodins" name="Codigo" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" id="Nome" value="@Model.Instrumentador.PahNome" name="Nome" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>CPF</label>
                        <input type="text" class="form-control" id="Cpf" value="@Model.Instrumentador.PahCpf" name="Cpf" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>RG</label>
                        <input type="text" class="form-control" id="Rg" value="@Model.Instrumentador.PahRg" name="Rg" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Status</label>
                        <select class="form-control" id="Status" name="Status" >
                            <option value="2">Ativo</option>
                            <option value="1">Inativo</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Tipo de Contratação</label>
                        <select class="form-control" id="Contratacao" name="Contratacao" >
                            <option value="1">CLT</option>
                            <option value="2">PJ</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Tipo de Contratação</label>
                        <select class="form-control" id="Tipo" name="Tipo">
                            <option value="Instrumentador">Instrumentador</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label>Observação</label>
                        <textarea type="text" class="form-control" id="Obs" name="Obs"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img src="/fotos/@Model.Instrumentador.PahImagem" id="FotoUser" height="150" width="130"/>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>

        $(document).ready(function(){
            $('#Status').val('@Model.Instrumentador.PahMsblql');
            $('#Contratacao').val('@Model.Instrumentador.PahTipocontrato');
            $('#Obs').val('@Model.Instrumentador.PahObs')
        })

    </script>
}
