@page "{Id}"
@model SGID.Pages.Account.RH.DeleteTimeModel
@{
    ViewBag.Title = "Desativar Comercial";

    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

<h2>Desativar</h2>

<h3>Você tem certeza que deseja Desativar @Model.Input.UserName</h3>
<div>
    <hr />
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            @Html.HiddenFor(model => model.Input.Id)
            @Html.HiddenFor(model => model.Input.UserName)
            <dt>
                @Html.DisplayNameFor(model => model.Input.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Input.UserName)
            </dd>
        </dl>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Input.DataDesativacao, new { @class = "col-md-12 control-label" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Input.DataDesativacao, new { @type = "date", @class = "form-control", @required = "required", @placehold = "Data" })
            </div>
        </div>

   
        

        <div class="form-actions no-color">
            <input type="submit" value="Salvar" class="btn btn-default" /> |
            <a href="/account/rh/listartime">Voltar</a>
        </div>
    }
</div>
