@page
@model SGID.Pages.Agendamento.VisitasModel
@{
    ViewData["Title"] = "Agendamento Visitas";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

@Html.AntiForgeryToken()
<div class="row">
    <div class="offset-md-2 col-md-4">
        <h4>AGENDA DE @User.Identity.Name.Split("@")[0].ToUpper().Replace("."," ")</h4>
    </div>
    <div class="col-md-6">
        <a id="novavistab" class="float-end" style="text-decoration:none;"><i class="fa-solid fa-address-book"></i> Novas Visita</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div>

<div class="modal fade" id="loading-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-body">
                <div style="display:flex; justify-content: center;">
                    <i class="fa-solid fa-spinner fa-10x fa-spin-pulse"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="novavisita-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <div class="col-md-11">
                        <h4>Nova Visita</h4>
                    </div>
                    <div class="col-md-1">
                        <a class="close" data-dismiss="modal"><i class="fa-regular fa-circle-xmark" style="color:red"></i></a>
                    </div>
                </div>
    
                <!--Modal body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="card" style="padding:10px;" id="MyForm">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Nome do Médico </label>
                                        <div class="autocomplete col-md-12">
                                            <input class="form-control" id="Medico" name="Medico" oninput="this.value = this.value.toUpperCase()" required>
                                            <input id="Id2" type="hidden">
                                            <span class="text-danger field-validation-valid" id="MedicoError"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Ultima Visita</label>
                                        <input type="date" class="form-control" id="DataUltima" name="DataUltima" required />
                                        <span class="text-danger field-validation-valid" id="DataUltimaError"></span>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Data & Hora</label>
                                        <input type="datetime-local" class="form-control" id="Data" name="Data" required />
                                        <span class="text-danger field-validation-valid" id="DataError"></span>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Tipo</label>
                                        <select class="form-control" id="Local" name="Local" oninput="this.value = this.value.toUpperCase()" required>
                                            @foreach (var data in Model.Locais)
                                            {
                                                <option value="@data">@data</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-8 col-md-8">
                                        <label class="Label">Endereço</label>
                                        <input type="text" class="form-control" id="Endereco" name="Endereco" oninput="this.value = this.value.toUpperCase()" required />
                                        <span class="text-danger field-validation-valid" id="EnderecoError"></span>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Bairro</label>
                                        <input type="text" class="form-control" id="Bairro" name="Bairro" oninput="this.value = this.value.toUpperCase()" required />
                                        <div class="autocomplete">
                                            <div style="color:#c00000" id="Quant" name="Quant">

                                            </div>
                                        </div>
                                        <span class="text-danger field-validation-valid" id="BairroError"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Email</label>
                                        <input type="text" class="form-control" id="Email" name="Email"/>
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Telefone</label>
                                        <input type="text" class="form-control" id="Telefone" name="Telefone"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Assunto</label>
                                        <input class="form-control" id="Assunto" name="Assunto" oninput="this.value = this.value.toUpperCase()" required />
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Motivo da visita</label>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                                <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis1" value="VENDA" autocomplete="off" required>
                                                <label class="btn btn-outline-primary" for="MotVis1">VENDA</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis2" value="INDICAÇÃO" autocomplete="off" >
                                                <label class="btn btn-outline-primary" for="MotVis2">INDICAÇÃO</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                                <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis3" value="ACOMPANHAMENTO" autocomplete="off" >
                                                <label class="btn btn-outline-primary" for="MotVis3">ACOMPANHAMENTO</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                            <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis6" value="CAIXA INSTRUMENTAL" autocomplete="off" >
                                                <label class="btn btn-outline-primary" for="MotVis6">CAIXA INSTRUMENTAL</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                                <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis4" value="RECLAMAÇÃO" autocomplete="off" >
                                                <label class="btn btn-outline-primary" for="MotVis4">RECLAMAÇÃO</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                                <input hidden type="radio" class="btn-check" name="MotVis" id="MotVis5" value="EVENTO" autocomplete="off" >
                                                <label class="btn btn-outline-primary" for="MotVis5">EVENTO</label>
                                            </div>
                                            <span class="text-danger field-validation-valid" id="MotVisError"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Observação</label>
                                        <textarea type="text" class="form-control" id="Obs" name="Obs" oninput="this.value = this.value.toUpperCase()"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Resumo da visita</label>
                                        <textarea type="text" class="form-control" id="ResuVisi" name="ResuVisi" oninput="this.value = this.value.toUpperCase()"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                            <div id="Salvar2" style="color:#00b050" class="col-md-2"><button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit"><i class="fa-solid fa-thumbs-up"></i> Salvar</button></div> |
                            <div style="color:#c00000" class="col-md-2">
                                <div class="close"><a class="btn btn-button btn-danger" style="font-size:12px;"><i class="fa-solid fa-xmark"></i> Cancelar</a></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>

<div class="modal fade" id="details-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <div class="col-md-10">
                        <h4 id="Vendedor"></h4>
                    </div>
                    <div class="col-md-1">
                        <a class="close" data-dismiss="modal"><i class="fa-regular fa-circle-xmark" style="color:red"></i></a>
                    </div>
                </div>
                <!--Modal body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="card" style="padding:10px;">
                            <div class="row">
                                <input type="hidden" id="id" name="id"/>
                                <div class="col-md-6">
                                    <label>Médico</label>
                                    <div id="MedicoView"></div>
                                    <input id="MedicoProxima"  type="hidden"/>
                                </div>
                                <div class="col-md-6">
                                    <label>Local</label>
                                    <div id="LocalView"></div>
                                    <input id="LocalProxima" type="hidden" />
                                </div>
                                <br />
                                <div class="col-md-6">
                                    <label>Data & Hora</label>
                                    <div id="DataHoraView"></div>
                                    <input id="DataHoraProxima"  type="hidden"/>
                                </div>
                                <div class="col-md-6">
                                    <label>Ultima Visita</label>
                                </div>
                                <br />
                                <div class="col-md-6">
                                    <label>Endereço</label>
                                    <div id="EnderecoView"></div>
                                    <input id="EnderecoProxima" type="hidden" />
                                </div>
                                <div class="col-md-6">
                                    <label>Bairro</label>
                                    <div id="BairroView"></div>
                                    <input id="BairroProxima"  type="hidden"/>
                                </div>
                                <br />
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div id="EmailView"></div>
                                    <input id="EmailProxima" type="hidden" />
                                </div>
                                <div class="col-md-6">
                                    <label>Telefone</label>
                                    <div id="TelefoneView"></div>
                                    <input id="TelefoneProxima" type="hidden" />
                                </div>
                                <br />
                                <div class="col-md-6">
                                    <label>Assunto</label>
                                    <div id="AssuntoView"></div>
                                    <input id="AssuntoProxima" type="hidden" />
                                </div>
                                <div class="col-md-6">
                                    <label>Motivo da Visita</label>
                                    <div id="MotVisView"></div>
                                </div>
                                <br />
                                <div class="col-md-12">
                                    <label>Observação</label>
                                    <textarea class="col-md-12" id="Observacao" oninput="this.value = this.value.toUpperCase()">

                                    </textarea>
                                    
                                </div>
                                <div class="col-md-12">
                                    <label>Resumo Visita</label>
                                    <textarea class="col-md-12" id="Resumo" oninput="this.value = this.value.toUpperCase()" >
                                    </textarea>
                                </div>
                                <div class="col-md-12">
                                    <label>Resumo Visita <span id="ResumoVisi2"></span></label>
                                    <div id="Resumo2"></div>
                                </div>
                                <div class="col-md-12">
                                    <label>Resumo Visita <span id="ResumoVisi3"></span></label>
                                    <div id="Resumo3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal footer-->
                    <div  class="modal-footer" style="padding-left:20px;">
                        <div class="row col-md-12">
                            <div class="col-md-3">
                                <div style="color:#ffff00" id="Cancelada">
                                <button class="btn btn-button float-end" style="font-size:12px;background-color:#ffff00;color:#ffffff;text-shadow: 1px 1px 2px black;" type="submit">
                                    <i class="fa-solid fa-calendar-xmark"></i> Remarcar/Cancelar
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="color:#3566fd" id="Proxima">
                                <button class="btn btn-button float-end" style="font-size:12px;background-color:#3566fd;color:#ffffff" type="submit">
                                        <i class="fa-solid fa-calendar-plus"></i> Proxima visita
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="color:#00b050" id="Salvar">
                                    <button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit">
                                        <i class="fa-solid fa-thumbs-up"></i> Finalizar Visita
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="modal fade" id="PopupCancelada-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-11">
                        Cancelar/Remarcar
                    </div>
                    <div class="col-md-1">
                        <a class="close" data-dismiss="modal"><i class="fa-regular fa-circle-xmark" style="color:red"></i></a>
                    </div>
                </div>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                Favor selecionar uma das opções
                <input id="IdCancelar" type="hidden"/>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <div style="color:red" id="Cancelar">
                            <button class="btn btn-button float-end" style="font-size:12px;background-color:red;color:#ffffff;text-shadow: 1px 1px 2px black;" type="submit">
                                <i class="fa-solid fa-calendar-xmark"></i> Cancelar
                            </button>
                        </div>
                    </div>
                    <div class="offset-md-6 col-md-3">
                        <div style="color:#00b050" id="Remarcar">
                            <button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit">
                                <i class="fa-solid fa-thumbs-up"></i> Remarcar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PopupCancelar-modal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-11">
                        Cancelar
                    </div>
                    <div class="col-md-1">
                        <a class="close" data-dismiss="modal"><i class="fa-regular fa-circle-xmark" style="color:red"></i></a>
                    </div>
                </div>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="col-md-12">
                    <label>Motivo Cancelamento</label>
                    <textarea type="text" class="form-control" id="MotivoRejeicao" name="MotivoRejeicao" >
                    </textarea>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <div class="row col-md-12">
                    <div class="col-md-3">
                        <div id="Cancelar2">
                            <button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit">
                                <i class="fa-solid fa-calendar-xmark"></i> Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Remarcar-modal" role="dialog" tabindex="1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Modal header-->
                <div class="modal-header">
                    <div class="col-md-11">
                        <h4>Remarcar Visita</h4>
                    </div>
                    <div class="col-md-1">
                        <a class="close" data-dismiss="modal"><i class="fa-regular fa-circle-xmark" style="color:red"></i></a>
                    </div>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="row">
                        <div class="card" style="padding:10px;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Nome do Médico </label>
                                        <div class="autocomplete col-md-12">
                                            <input class="form-control" id="Medico2" name="Medico2" oninput="this.value = this.value.toUpperCase()" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Ultima Visita</label>
                                        <input type="date" class="form-control" id="DataUltima2" name="DataUltima2" required />
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Data & Hora</label>
                                        <input type="datetime-local" class="form-control" id="Data2" name="Data2" required />
                                    </div>
                                    <div class="form-group col-sm-6 col-md-6">
                                        <label class="Label">Tipo</label>
                                        <select class="form-control" id="Local2" name="Local2" oninput="this.value = this.value.toUpperCase()" required>
                                            @foreach (var data in Model.Locais)
                                            {
                                                <option value="@data">@data</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-8 col-md-8">
                                        <label class="Label">Endereço</label>
                                        <input type="text" class="form-control" id="Endereco2" name="Endereco2" oninput="this.value = this.value.toUpperCase()" required />
                                    </div>
                                    <div class="form-group col-sm-4 col-md-4">
                                        <label class="Label">Bairro</label>
                                        <input type="text" class="form-control" id="Bairro2" name="Bairro2" oninput="this.value = this.value.toUpperCase()" required />
                                    </div>
                                </div>
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-6">
                                    <label class="Label">Email</label>
                                    <input type="text" class="form-control" id="Email2" name="Email2"  required />
                                </div>
                                <div class="form-group col-sm-6 col-md-6">
                                    <label class="Label">Telefone</label>
                                    <input type="text" class="form-control" id="Telefone2" name="Telefone2" required />
                                </div>
                            </div>
                                <div class="row">
                                
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Assunto</label>
                                        <input class="form-control" id="Assunto" name="Assunto" oninput="this.value = this.value.toUpperCase()" required />
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Motivo da visita</label>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis11" value="VENDA" autocomplete="off" required>
                                                <label class="btn btn-outline-primary" for="MotVis1">VENDA</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis10" value="INDICAÇÃO" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="MotVis10">INDICAÇÃO</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis9" value="ACOMPANHAMENTO" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="MotVis9">ACOMPANHAMENTO</label>
                                            </div>
                                            <div class="col-sm-3 col-md-3">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis8" value="CAIXA INSTRUMENTAL" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="MotVis8">CAIXA INSTRUMENTAL</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis7" value="RECLAMAÇÃO" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="MotVis7">RECLAMAÇÃO</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2">
                                            <input hidden type="radio" class="btn-check" name="MotVis2" id="MotVis6" value="EVENTO" autocomplete="off">
                                                <label class="btn btn-outline-primary" for="MotVis6">EVENTO</label>
                                            </div>
                                            <span class="text-danger field-validation-valid" id="MotVisError"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Observação</label>
                                        <textarea type="text" class="form-control" id="Obs2" name="Obs2" oninput="this.value = this.value.toUpperCase()"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12 col-md-12">
                                        <label class="Label">Resumo da visita</label>
                                        <textarea type="text" class="form-control" id="ResuVisi2" name="ResuVisi2" oninput="this.value = this.value.toUpperCase()"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="row justify-content-center">
                        <div id="RemarcarEnviar" style="color:#00b050" class="col-md-2">
                                <button class="btn btn-button btn-success float-end" style="font-size:12px;" type="submit">
                                    <i class="fa-solid fa-thumbs-up"></i> Salvar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts
{
    <link href="~/lib/fullcalendar/fullcalendar.min.css" rel='stylesheet'/>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/fullcalendar/fullcalendar.min.js"></script>
    <script src='~/lib/fullcalendar/locale-all.min.js'></script>
    <script>
        $(function () {
            //defaultView: 'basicWeek'
            $('#calendar').fullCalendar({
                locale: 'pt-br',
                header: {
                    left: 'prev,today,next',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,'
                },
                initialView: 'agendaDay',
                events: '/agendamento/visitas?handler=events',
                eventLimit: true,
                eventClick: function (info) {

                    $('#loading-modal').modal('show');
                    var chamadaUrl = `/agendamento/visitas?handler=details&&id=${info.id}`
                    $.ajax({
                        url: chamadaUrl,
                        type: "GET",
                        contentType: "application/json;",
                        dataType: 'json',
                        headers: {
                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {

                            $("#id").val(info.id);
                            $("#Vendedor").html(`Vendedor: ${data.vendedor}`);
                            $("#MedicoView").html(data.medico);
                            $("#LocalView").html(data.local);
                            $("#DataHoraView").html(data.dataHora);
                            $("#AssuntoView").html(data.assunto);
                            $("#EnderecoView").html(data.endereco);
                            $("#MotVisView").html(data.motvisita);
                            $("#DataUltimaView").html(data.dataUltima);
                            $("#BairroView").html(data.bairro);
                            $("#Observacao").text(data.observacao);
                            $("#Resumo").text(data.resuVi);
                            $("#TelefoneView").html(data.telefone);
                            $("#EmailView").html(data.email);

                            $("#Resumo2").html(data.ultimaResp1);
                            $("#ResumoVisi2").html(data.dataResp1);
                            $("#Resumo3").html(data.ultimaResp2);
                            $("#ResumoVisi3").html(data.dataResp2);


                            $("#MedicoProxima").val(data.medico);
                            $("#LocalProxima").val(data.local)
                            $("#DataHoraProxima").val(data.dataProxima)
                            $("#AssuntoProxima").val(data.assunto)
                            $("#EnderecoProxima").val(data.endereco)
                            $("#BairroProxima").val(data.bairro)
                            $("#TelefoneProxima").val(data.telefone)
                            $("#EmailProxima").val(data.email)

                            if(data.status != 0)
                            {
                                $('#Cancelada').css('display', 'none')
                                
                            }
                            else
                            {
                                $('#Cancelada').css('display', 'block')
                                
                            }

                            $('#loading-modal').modal('hide');

                            setTimeout(function () {
                                $('#details-modal').modal('show');
                            }, 2000)

                        }
                    })
                }
            });

            $('#novavistab').on('click', function () 
            {
                $("#novavisita-modal").modal('show');
            })

            $('a.close').on('click', function () 
            {
                $("#novavisita-modal").modal('hide');
                $('#details-modal').modal('hide');
                $('#loading-modal').modal('hide');
                $("#PopupCancelada-modal").modal('hide')
            })

            $("#Salvar").on('click',function ()
            {
                var Id = $("#id").val();
                var Obs = $("#Observacao").val();
                var Resu = $("#Resumo").val();

                var chamadaUrl = `/agendamento/visitas?handler=Resumo&&id=${Id}&&Observacao=${Obs}&&Resumo=${Resu}`;
                $.ajax({
                    url: chamadaUrl,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function () {

                        location.reload();
                    }
                })
            })

            $("#Proxima").on('click', function () {

                var teste = $("#MedicoProxima").val();

                $("#Medico").val(teste);

                setTimeout(function () {
                    $('#details-modal').modal('hide');
                }, 1000)


                $("#Endereco").val($("#EnderecoProxima").val())
                $("#Bairro").val($("#BairroProxima").val())
                $("#DataUltima").val($("#DataHoraProxima").val())
                $("#Email").val($("#EmailProxima").val())
                $("#Telefone").val($("#TelefoneProxima").val())


                setTimeout(function () {
                    $('#novavisita-modal').modal('show');
                }, 2000)
                
            })

            $("#Cancelada").on('click', function () {

                $("#novavisita-modal").modal('hide');
                $('#details-modal').modal('hide');
                $('#loading-modal').modal('hide');

                $("#IdCancelar").val($("#id").val())

                setTimeout(function () {
                    $("#PopupCancelada-modal").modal('show')
                }, 2000)

            })


            $("#Cancelar").on('click',function (){

                $("#PopupCancelada-modal").modal('hide')

                setTimeout(function () {
                    $("#PopupCancelar-modal").modal('show')
                }, 2000)
                

            })

            $("#Cancelar2").on('click',function (){

                var Id = $("#IdCancelar").val()
                var motivo = $("#MotivoRejeicao").val()

                var chamadaUrl = `/agendamento/visitas?handler=Cancelar&&Id=${Id}&&MotivoRej=${motivo}`
                $.ajax({
                    url: chamadaUrl,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) 
                    {
                        location.reload();
                    }
                })

            })

            $("#Remarcar").on('click',function(){

                $("#Id2").val($("#IdCancelar").val())
                $("#Medico2").val($("#MedicoProxima").val())
                $("#DataUltima2").val($("#DataHoraProxima").val())
                $("#Local2").val($("#LocalProxima").val())
                $("#Endereco2").val($("#EnderecoProxima").val())
                $("#Bairro2").val($("#BairroProxima").val())
                $("#Assunto2").val($("#AssuntoProxima").val())
                $("#Email2").val($("#EmailProxima").val())
                $("#Telefone2").val($("#TelefoneProxima").val())

                setTimeout(function () {
                    $("#PopupCancelada-modal").modal('hide')
                }, 2000)

                setTimeout(function () {
                    $("#Remarcar-modal").modal('show')
                }, 2000)

            })


            $("#RemarcarEnviar").on('click',function()
            {


                var Id = $("#Id2").val()
                var Medico = $("#Medico2").val()        
                var DataUltima = $("#DataUltima2").val()                       
                var Data = $("#Data2").val()     
                var Local = $("#Local2").val()
                var Endereco = $("#Endereco2").val()   
                var Bairro = $("#Bairro2").val()      
                var Email = $("#Email2").val()
                var Telefone = $("#Telefone2").val()
                var Assunto = $("#Assunto2").val()
                var MotVis = $('input[name=MotVis2]:checked').val();
                var Obs = $("#Obs2").val()                                                                            
                var Resu = $("#ResuVisi2").val()


                var chamadaUrl = `/agendamento/visitas?handler=Remarcar&&id=${Id}&&Medico=${Medico}&&Local=${Local}&&Data=${Data}&&DataUltima=${DataUltima}&&Assunto=${Assunto}&&Endereco=${Endereco}&&Bairro=${Bairro}&&MotVis=${MotVis}&&Obs=${Obs}&&ResuVisi=${Resu}&&Telefone=${Telefone}&&Email=${Email}`
                $.ajax({
                    url: chamadaUrl,
                    type: "POST",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        if (data == "Sucesso")
                        {
                            location.reload()
                        }
                    }
                })

            })

            $("#Salvar2").on('click',function(){
            
                var Id = $("#Id").val();
                var Medico = $("#Medico").val();
                var DataUltima = $("#DataUltima").val();
                var Data = $("#Data").val();
                var Local = $("#Local").val();
                var Endereco = $("#Endereco").val();
                var Bairro = $("#Bairro").val();
                var Email = $("#Email").val();
                var Telefone = $("#Telefone").val();
                var Assunto = $("#Assunto").val();
                var MotVis = $('input[name=MotVis]:checked').val();
                var Obs = $("#Obs").val();
                var Resu = $("#ResuVisi").val();


                 let radioValueCheck = true;
                 var allAreFilled = true;
                 document.getElementById("MyForm").querySelectorAll("[required]").forEach(function (i) 
                 {
                    
                     if (i.type === "radio") {
                         
                         console.log(`[name=${i.name}]`);
                         document.getElementById("MyForm").querySelectorAll(`[name=${i.name}]`).forEach(function (r) 
                         {
                             if (r.checked) radioValueCheck = false;
                         })

                         if (radioValueCheck) 
                         {
                            $(`#${i.name}Error`).html(`${i.name} precisa ser preenchido`)
                         }
                     }
                     if (!i.value) 
                     { 

                         allAreFilled = false;

                         if (`${i.name}` == 'Data') 
                         {
                            $(`#${i.name}Error`).html(`Data & Hora precisa ser preenchido`)
                         }
                         else if (`${i.name}` == 'DataUltima') 
                         {
                            $(`#${i.name}Error`).html(`Ultima Vista precisa ser preenchido`)
                         } 
                         else 
                         {
                            $(`#${i.name}Error`).html(`${i.name} precisa ser preenchido`)
                         }

                         
                         
                     }
                 })


                if (!allAreFilled && radioValueCheck) 
                {
                    alert('Preencha os campos faltantes');
                } 
                else 
                {

                    var chamadaUrl = `/agendamento/visitas?id=${Id}&&Medico=${Medico}&&Local=${Local}&&Data=${Data}&&DataUltima=${DataUltima}&&Assunto=${Assunto}&&Endereco=${Endereco}&&Bairro=${Bairro}&&MotVis=${MotVis}&&Obs=${Obs}&&ResuVisi=${Resu}&&Telefone=${Telefone}&&Email=${Email}`
                    $.ajax({
                        url: chamadaUrl,
                        type: "POST",
                        contentType: "application/json;",
                        dataType: 'json',
                        headers: 
                        {
                            "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) 
                        {

                            if (data == "Sucesso") {
                                location.reload()
                            }
                        }
                    })
                }
            })
        })
    </script>
    <script>

        var Medicos = [];

        @foreach (var data in Model.Medicos.OrderBy(x=> x))
        {
            @:Medicos.push("@data");
        }

        $(document).ready(function () {

            function autocomplete(inp, arr) {
                /*the autocomplete function takes two arguments,
                the text field element and an array of possible autocompleted values:*/
                var currentFocus;
                /*execute a function when someone writes in the text field:*/
                inp.addEventListener("input", function (e) {
                    var a, b, i, val = this.value;
                    /*close any already open lists of autocompleted values*/
                    closeAllLists();
                    if (!val) { return false; }
                    currentFocus = -1;
                    /*create a DIV element that will contain the items (values):*/
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items form-control");
                    /*append the DIV element as a child of the autocomplete container:*/
                    this.parentNode.appendChild(a);
                    /*for each item in the array...*/
                    for (i = 0; i < arr.length; i++) 
                    {
                        /*check if the item starts with the same letters as the text field value:*/
                            if (arr[i].toUpperCase().includes(val.toUpperCase())) 
                            {
                            /*create a DIV element for each matching element:*/
                            b = document.createElement("DIV");
                            /*make the matching letters bold:*/
                            /*b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);*/
                            b.innerHTML = arr[i];
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                            /*execute a function when someone clicks on the item value (DIV element):*/
                            b.addEventListener("click", function (e) {
                                /*insert the value for the autocomplete text field:*/
                                inp.value = this.getElementsByTagName("input")[0].value;
                                /*close the list of autocompleted values,
                                (or any other open lists of autocompleted values:*/
                                
                                var chamadaUrl = `/agendamento/visitas?handler=Endereco&&Medico=${inp.value}`
                                $.ajax({
                                    url: chamadaUrl,
                                    type: "GET",
                                    contentType: "application/json;",
                                    dataType: 'json',
                                    headers: 
                                    {
                                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                                    },
                                    success: function(data) 
                                    {
                                        
                                        $("#Endereco").val(data.endereco)
                                        $("#Bairro").val(data.bairro)
                                        if(data.quant > 0)
                                        {
                                            $("#Quant").html(`<a href="/clientes/medicosarea/${data.bairro}" target="_blank" style="color:#c00000;text-decoration:none">Há ${data.quant} outros medicos neste bairro</a>`);
                                        }   
                                        $("#DataUltima").val(data.ultima)
                                        $("#Telefone").val(data.telefone)
                                        $("#Email").val(data.email)
                                    }                                 
                                })   
                            });
                            a.appendChild(b);
                        }
                    }
                });
                /*execute a function presses a key on the keyboard:*/
                inp.addEventListener("keydown", function (e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) {
                        /*If the arrow DOWN key is pressed,
                        increase the currentFocus variable:*/
                        currentFocus++;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 38) { //up
                        /*If the arrow UP key is pressed,
                        decrease the currentFocus variable:*/
                        currentFocus--;
                        /*and and make the current item more visible:*/
                        addActive(x);
                    } else if (e.keyCode == 13) {
                        /*If the ENTER key is pressed, prevent the form from being submitted,*/
                        e.preventDefault();
                        if (currentFocus > -1) {
                            /*and simulate a click on the "active" item:*/
                            if (x) x[currentFocus].click();
                        }
                    }
                });
                function addActive(x) {
                    /*a function to classify an item as "active":*/
                    if (!x) return false;
                    /*start by removing the "active" class on all items:*/
                    removeActive(x);
                    if (currentFocus >= x.length) currentFocus = 0;
                    if (currentFocus < 0) currentFocus = (x.length - 1);
                    /*add class "autocomplete-active":*/
                    x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                        x[i].classList.remove("autocomplete-active");
                    }
                }
                function closeAllLists(elmnt) {
                    /*close all autocomplete lists in the document,
                    except the one passed as an argument:*/
                    var x = document.getElementsByClassName("autocomplete-items");
                    for (var i = 0; i < x.length; i++) {
                        if (elmnt != x[i] && elmnt != inp) {
                            x[i].parentNode.removeChild(x[i]);
                        }
                    }
                }
                /*execute a function when someone clicks in the document:*/
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }

            autocomplete(document.getElementById("Medico"), Medicos);
        })
    </script>
}