@page
@model SGID.Pages.Formularios.Estoque.ListarOcorrenciasModel
@{
    ViewData["Title"] = "Listar Ocorrência";
    Layout = "_LayoutGeral";
}

<div class="row">
    <div class="col-md-6">
        <h4>Ocorrências</h4>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr style="background-color:#5b9bd5;color:white;">
                    <th class="text-center">
                        Empresa
                    </th>
                    <th class="text-center">
                        Codigo
                    </th>
                    <th class="text-center">
                        Agendamento
                    </th>
                    <th class="text-center">
                        Paciente
                    </th>
                    <th class="text-center">
                        Medico
                    </th>
                    <th class="text-center">
                        Produto
                    </th>
                    <th class="text-center">
                        Vendedor
                    </th>
                    <th class="text-center">
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Pedido in Model.Ocorrencias)
                {
                    <tr>
                        <td>
                            @if (Pedido.Empresa == "01")
                            {
                                <span>INTERMEDIC</span>
                            }
                            else
                            {
                                <span>DENUO</span>
                            }
                        </td>
                        <td>@Pedido.Id</td>
                        <td>@Pedido.Agendamento</td>
                        <td>@Pedido.Paciente</td>
                        <td>@Pedido.Medico</td>
                        <td>@Pedido.Descricao</td>
                        <td>@Pedido.Vendedor</td>
                        <td>
                            <i onclick="Enviar(@Pedido.Id)" class="fa-solid fa-paper-plane" style="color:green"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





@section scripts{
    <script>
        $(document).ready(function(){

            Enviar = function(Id){

                var chamadaUrl = `/formularios/estoque/ListarOcorrencias?handler=Enviar&&Id=${Id}`;
                $.ajax({
                    url: chamadaUrl,
                    type: "GET",
                    contentType: "application/json;",
                    dataType: 'json',
                    headers: {
                        "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        alert(data);
                    }
                })
                return false
            }
            
        })
    </script>
}