@page
@model SGID.Pages.Relatorios.Controladoria.DemonstracaoInterModel
@{
    ViewData["Title"] = "Relatorio Demonstraçao Inter";
    Layout = "_LayoutGeral";

    var count = 0;
}

@using (@Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>


    <div class="panel">
        <div class="panel-body">
            <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">
                            DIAS
                        </th>
                        <th class="text-center">
                            FILIAL
                        </th>
                        <th class="text-center">
                            NF
                        </th>
                        <th class="text-center">
                            SERIE
                        </th>
                        <th class="text-center">
                            EMISSAO
                        </th>
                        <th class="text-center">
                            COD. CLIENTE
                        </th>
                        <th class="text-center">
                            LOJA
                        </th>
                        <th class="text-center">
                            CLIENTE
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model.Relatorio)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model=> data.Dias)
                                <input type="hidden" id="Relatorio[@count].Dias" name="Relatorio[@count].Dias" value="@data.Dias" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.Filial)
                                <input type="hidden" id="Relatorio[@count].Filial" name="Relatorio[@count].Filial" value="@data.Filial" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.Nf)
                                <input type="hidden" id="Relatorio[@count].Nf" name="Relatorio[@count].Nf" value="@data.Nf" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.Serie)
                                <input type="hidden" id="Relatorio[@count].Serie" name="Relatorio[@count].Serie" value="@data.Serie" />
                            </td>
                            <td>
                                @data.Emissao.Value.ToString("dd/MM/yyyy")
                                <input type="hidden" id="Relatorio[@count].Emissao" name="Relatorio[@count].Emissao" value="@data.Emissao" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.CodCli)
                                <input type="hidden" id="Relatorio[@count].CodCli" name="Relatorio[@count].CodCli" value="@data.CodCli" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.Loja)
                                <input type="hidden" id="Relatorio[@count].Loja" name="Relatorio[@count].Loja" value="@data.Loja" />
                            </td>
                            <td>
                                @Html.DisplayFor(model=> data.Cliente)
                                <input type="hidden" id="Relatorio[@count].Cliente" name="Relatorio[@count].Cliente" value="@data.Cliente" />
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
}