@page
@model SGID.Pages.Relatorios.Controladoria.LiIntermedicModel
@{
    ViewData["Title"] = "Relatorio LI Inter";
    Layout = "_LayoutGeral";
}

@using(@Html.BeginForm(FormMethod.Post)){
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="text" class="form-control" id="NumLi" name="NumLi" value="@Model.NLi" placeholder="NUMAGE">
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>

        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}

<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        NUM LI
                    </th>
                    <th class="text-center">
                        SEQ. LI
                    </th>
                    <th class="text-center">
                        COD PROD.
                    </th>
                    <th class="text-center">
                        PRODUTO
                    </th>
                    <th class="text-center">
                        QTDE
                    </th>
                    <th class="text-center">
                        SALDO Q
                    </th>
                    <th class="text-center">
                        VL UNIT
                    </th>
                    <th class="text-center">
                        TOTAL
                    </th>
                    <th class="text-center">
                        NCM
                    </th>
                    <th class="text-center">
                        REG. ANVISA
                    </th>
                    <th class="text-center">
                        VALIDADE
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model.Relatorio)
                {
                <tr>
                    <td>@Html.DisplayFor(model=> data.NumLi)</td>
                    <td>@Html.DisplayFor(model=> data.SeqLi)</td>
                    <td>@Html.DisplayFor(model=> data.CodProd)</td>
                    <td>@Html.DisplayFor(model=> data.Produto)</td>
                    <td>@Html.DisplayFor(model=> data.QTDE)</td>
                    <td>@Html.DisplayFor(model=> data.SaldoQ)</td>
                    <td>@string.Format("{0:N2}", data.ValUni)</td>
                    <td>@string.Format("{0:N2}", data.Total)</td>
                    <td>@Html.DisplayFor(model=> data.Ncm)</td>
                    <td>@Html.DisplayFor(model=> data.RegAnvisa)</td>
                    <td>@Html.DisplayFor(model=> data.Validade)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
