@page
@model SGID.Pages.Relatorios.Controladoria.NFEntradaInterModel
@{
    ViewData["Title"] = "Relatorio NF Entrada Inter";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutGeral";
    }
}

@using(@Html.BeginForm(FormMethod.Post)){
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="text" class="form-control" id="Data" name="Data" value="@Model.DataRel" placeholder="Data">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}


<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        FILIAL
                    </th>
                    <th class="text-center">
                        NF OIRGINAL
                    </th>
                    <th class="text-center">
                        SERIE ORIGINAL
                    </th>
                    <th class="text-center">
                        EMISSAO ORIG.
                    </th>
                    <th class="text-center">
                        EMISSAO ENT.
                    </th>
                    <th class="text-center">
                        DIGITAÇÃO ENT.
                    </th>
                    <th class="text-center">
                        TIPO ENT.
                    </th>
                    <th class="text-center">
                        NF ENTRADA
                    </th>
                    <th class="text-center">
                        SERIE ENTRADA
                    </th>
                    <th class="text-center">
                        FORNECEDOR
                    </th>
                    <th class="text-center">
                        LOJA
                    </th>
                    <th class="text-center">
                        ICMS
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model.Relatorio)
                {
                <tr>
                    <td>@Html.DisplayFor(model=> data.FILIAL)</td>
                    <td>@Html.DisplayFor(model=> data.NFOriginal)</td>
                    <td>@Html.DisplayFor(model=> data.SerieOriginal)</td>
                    <td>@Html.DisplayFor(model=> data.EmissaoOrig)</td>
                    <td>@Html.DisplayFor(model=> data.EmissaoEnt)</td>
                    <td>@Html.DisplayFor(model=> data.DigiEnt)</td>
                    <td>@Html.DisplayFor(model=> data.TipoEnt)</td>
                    <td>@Html.DisplayFor(model=> data.NFEntrada)</td>
                    <td>@Html.DisplayFor(model=> data.SerieEntrada)</td>
                    <td>@Html.DisplayFor(model=> data.Fornecedor)</td>
                    <td>@Html.DisplayFor(model=> data.Loja)</td>
                    <td>@string.Format("{0:N2}", data.ICMS)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
