@page
@model SGID.Pages.Relatorios.Controladoria.RetornoSefazInterModel
@{
    ViewData["Title"] = "Relatorio Retorno Sefaz Inter";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutGeral";
    }
}

@using(@Html.BeginForm(FormMethod.Post)){
    <div class="row">
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataInicio" name="DataInicio" value="@Model.Inicio.ToString("yyyy-MM-dd")" placeholder="Data Inicio">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-2">
            <input type="date" class="form-control" id="DataFim" name="DataFim" value="@Model.Fim.ToString("yyyy-MM-dd")" placeholder="Data Fim">
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>
        <div class="form-group mx-sm-3 mb-2 col-lg-1">
            <button type="submit" class="btn btn-secondary mb-2" asp-page-handler="Export"><i class="fa-solid fa-file-excel"></i> Exportar Excel</button>
        </div>
    </div>
}


<div class="panel">
    <div class="panel-body">
        <table id="demo-dt-addrow" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center">
                        FILIAL
                    </th>
                    <th class="text-center">
                        COD. SEFAZ
                    </th>
                    <th class="text-center">
                        OBESERVAÇÃO
                    </th>
                    <th class="text-center">
                        DT. ENTRADA
                    </th> 
                    <th class="text-center">
                        DT. EMISSAO
                    </th>
                    <th class="text-center">
                        NOTA FISCAL
                    </th>
                    <th class="text-center">
                        SERIE
                    </th>
                    <th class="text-center">
                        CLI/FOR
                    </th>
                    <th class="text-center">
                        LOJA
                    </th>
                    <th class="text-center">
                        CFOP
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var data in Model.Relatorio)
                {
                <tr>
                    <td>@Html.DisplayFor(model=> data.Filial)</td>
                    <td>@Html.DisplayFor(model=> data.CodSefaz)</td>
                    <td>@Html.DisplayFor(model=> data.Observacao)</td>
                    <td>@Html.DisplayFor(model=> data.DtEntrada)</td>
                    <td>@Html.DisplayFor(model=> data.DtEmissao)</td>
                    <td>@Html.DisplayFor(model=> data.NotaFiscal)</td>
                    <td>@Html.DisplayFor(model=> data.Serie)</td>
                    <td>@Html.DisplayFor(model=> data.CliFor)</td>
                    <td>@Html.DisplayFor(model=> data.Loja)</td>
                    <td>@Html.DisplayFor(model=> data.CFOP)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

