@page "{id}"
@model SGID.Pages.RH.EditarGestaoPessoalModel
@{
    ViewData["Title"] = "Solicitação de Acesso";
    if (User.IsInRole("Diretoria") && !User.IsInRole("Admin"))
    {
        Layout = "_LayoutDiretoria";
    }
    else
    {
        Layout = "_LayoutNovo";
    }
}

<div class="row">
    <h2 style="padding-left:20px;">Solicitação de Acesso</h2>
</div>

<div class="row">
    <h3 id="Error" class="invisivel" style="padding-left:20px;color:red">Data Evento deve ter 3 dias uteis ou mais</h3>
</div>

<div class="card" style="padding:10px;">
    @using (@Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>Data Evento</label>
                        <input type="date" class="form-control" id="DataEvento" name="DataEvento" value="@Model.Acesso.DataEvento.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Empresa</label>
                        <select class="form-control" id="Empresa" name="Empresa">
                            <option value="Intermedic">Intermedic</option>
                            <option value="Denuo">Denuo</option>
                            <option value="DDental">DDental</option>
                            <option value="IDLog">ID Log</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Nome Colaborador</label>
                        <input type="text" class="form-control" id="Nome" name="Nome" value="@Model.Acesso.Nome" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Tipo</label>
                        <select type="text" class="form-control" id="Tipo" name="Tipo">
                            <option value="Contratação">Contratação</option>
                            <option value="Desligamento">Desligamento</option>
                            <option value="Ferias">Férias</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="text" class="form-control" id="Email" name="Email" value="@Model.Acesso.Email"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cargo</label>
                        <input type="text" class="form-control" id="Cargo" name="Cargo" value="@Model.Acesso.Cargo" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Ramal</label>
                        <input type="text" class="form-control" id="Ramal" name="Ramal" value="@Model.Acesso.Ramal"/>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Aumento de Quadro?</label>
                        <select type="text" class="form-control" id="Contratacao" name="Contratacao">
                            <option value="S">SIM</option>
                            <option value="N">NÃO</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="Sub">
                    <div class="form-group col-md-4">
                        <label>Nome Colaborador Subtituido</label>
                        <input type="text" class="form-control" id="NomeSub" name="NomeSub" value="@Model.Acesso.NomeSub" />
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cargo Substituido</label>
                        <input type="text" class="form-control" id="CargoSub" name="CargoSub" value="@Model.Acesso.CargoSub" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label>Observação</label>
                        <textarea type="text" class="form-control" id="Obs" name="Obs"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Solicitações
                </label>
                <div class="col-md-10">
                    <input type="checkbox" id="SelectedRoles" name="SelectedRoles" value="Protheus" class="checkbox-inline" />
                    <label class="control-label" for="Protheus">Protheus</label>

                    <input type="checkbox" id="SelectedRoles" name="SelectedRoles" value="Ramal" class="checkbox-inline" />
                    <label class="control-label" for="Ramal">Ramal</label>

                    <input type="checkbox" id="SelectedRoles" name="SelectedRoles" value="Maquina" class="checkbox-inline" />
                    <label class="control-label" for="Maquina">Maquina</label>

                    <input type="checkbox" id="SelectedRoles" name="SelectedRoles" value="Celular" class="checkbox-inline" />
                    <label class="control-label" for="Celular">Celular</label>

                    <input type="checkbox" id="SelectedRoles" name="SelectedRoles" value="Impressora" class="checkbox-inline" />
                    <label class="control-label" for="Impressora">Impressora</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-12">
                    <button class="btn btn-button btn-success float-end" type="submit">Salvar</button>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Empresa').val('@Model.Acesso.Empresa');
            $('#Tipo').val(@Model.Acesso.Tipo);
            $("#Obs").val('@Model.Acesso.Obs');

            var contra = '@Model.Acesso.Contratacao';
            if (contra=="")
            {
                $("#Contratacao").val('S');
            }
            else
            {
                $("#Contratacao").val('@Model.Acesso.Contratacao');
            }
            


            $('input:checkbox[value="Protheus"]').prop('checked', @Model.Acesso.Protheus.ToString().ToLower());
            $('input:checkbox[value="Ramal"]').prop('checked', @Model.Acesso.IsRamal.ToString().ToLower());
            $('input:checkbox[value="Impressora"]').prop('checked', @Model.Acesso.Impressora.ToString().ToLower());
            $('input:checkbox[value="Maquina"]').prop('checked', @Model.Acesso.Maquina.ToString().ToLower());
            $('input:checkbox[value="Celular"]').prop('checked', @Model.Acesso.Celular.ToString().ToLower());

        })

        $('#DataEvento').blur(function () {

            var val = $(this).val()

            var data = new Date("@Model.Acesso.DataEvento.ToString("yyyy/MM/dd")")

            /*if(data.getDay()==0 || data.getDay()>=5)
            {
                data.setDate(data.getDate() + 5)
            }
            else
            {

            }*/

            if (new Date(val) <= data) {
                $("#Error").removeClass("invisivel");
                $("#Error").addClass("visivel");
                $(this).val("")
            }
            else {
                $("#Error").removeClass("visivel");
                $("#Error").addClass("invisivel");
            }
        })
    </script>

    <script>
        $(document).ready(function () {

            $('#Sub').hide();


            $("#Contratacao").on('change', function () {

                var teste = $("#Contratacao").val();

                if (teste == "N") {
                    $('#Sub').show();
                    $("#Envio").addClass("invisivel");
                }
                else {
                    $('#Sub').hide();
                    $("#Envio").removeClass("invisivel");
                }

            })


            $("#NomeSub").on('change', function (e) {

                var Nome = $("#NomeSub").val();

                if (Nome != undefined) {

                    if (Nome.trim().length === 0) {
                        $("#Envio").removeClass("visivel");
                        $("#Envio").addClass("invisivel");
                    }
                    else {
                        var CargoSub = $("#CargoSub").val();

                        if (CargoSub != undefined) {

                            if (CargoSub.trim().length === 0) {
                                $("#Envio").removeClass("visivel");
                                $("#Envio").addClass("invisivel");
                            }
                            else {
                                $("#Envio").removeClass("invisivel");
                                $("#Envio").addClass("visivel");
                            }
                        }
                        else {
                            $("#Envio").removeClass("visivel");
                            $("#Envio").addClass("invisivel");
                        }

                    }
                }
                else {
                    $("#Envio").removeClass("visivel");
                    $("#Envio").addClass("invisivel");
                }
            })

            $("#CargoSub").on('change', function (e) {

                var CargoSub = $("#CargoSub").val();

                if (CargoSub != undefined) {

                    if (CargoSub.trim().length === 0) {
                        $("#Envio").removeClass("visivel");
                        $("#Envio").addClass("invisivel");
                    }
                    else {
                        var Nome = $("#NomeSub").val();

                        if (Nome != undefined) {

                            if (Nome.trim().length === 0) {
                                $("#Envio").removeClass("visivel");
                                $("#Envio").addClass("invisivel");
                            }
                            else {
                                $("#Envio").removeClass("invisivel");
                                $("#Envio").addClass("visivel");
                            }
                        }
                        else {
                            $("#Envio").removeClass("visivel");
                            $("#Envio").addClass("invisivel");
                        }

                    }
                }
                else {
                    $("#Envio").removeClass("visivel");
                    $("#Envio").addClass("invisivel");
                }
            })
        })

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
}